mat-card{
    max-width: 400px;
    margin:20px 30px,
}

.flexflex
{
    display:flex;
    justify-content: start;
    align-items: center;
    gap: 10px;  
    flex-direction: row;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  button[color="primary"] {
    background-color: #19d25a;
    color: white;
  }
  
  button[color="primary"]:hover {
    background-color: #1565c0;
  }
  
  button[color="warn"] {
    background-color: #d32f2f;
    color: white;
  }
  
  button[color="warn"]:hover {
    background-color: #000000;
  }