.studyRes
{
  width: 400px;
  margin:20px 6px;
}

mat-card{
    width:100%;
    border-top:4px solid black;
}

.flexflex
{
    display:flex;
    margin-top:30px;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
  
button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
button[color="primary"] {
    background-color: #19d25a;
    color: white;
  }
  
button[color="primary"]:hover {
    background-color: #1565c0;
  }
  
button[color="warn"] {
    background-color: #d32f2f;
    color: white;
  }
  
button[color="warn"]:hover {
    background-color: #000000;
  }

.text
{
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}