.componentDiv
{
    min-height: 100vh;
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
  }


  
  .search-bar {
    width: 50%; 
    max-width: 600px; 
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd; 
    border-radius: 24px; 
    outline: none; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
  }
  
  
  .little-search-bar
  {
    max-width: 300px;
  }

  .search-bar:focus {
    border-color: #4285f4; 
    box-shadow: 0 4px 10px rgba(66, 133, 244, 0.3); 
  }
  
  .search-bar::placeholder {
    color: #999; 
  }
  
  .search-bar:hover {
    border-color: #999; 
  }

  .flashcards-flexbox
  {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;  
    flex-direction: row;
  }
  

