<div class="componentDiv">
<div class="search-container">
    <input 
      [formControl]="searchControl" 
      placeholder="Search resources..." 
      class="search-bar"
      type="text"
    />
</div>

<div class="search-container">
        <input matInput 
        [formControl]="searchProfsControl"
        placeholder="Search professors..." 
        class="search-bar little-search-bar"
        [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" >
            <mat-option *ngFor="let suggestion of professorsList$" [value]="suggestion.name" (click)="addUser(suggestion)">
            {{ suggestion.name }} {{suggestion.surname}}
            </mat-option>
        </mat-autocomplete>

<div>
<span>selected professors: </span> 
<span *ngFor="let prof of selectedProfessors$ | async">
    <span><mat-chip (click)="removeUser(prof)"> {{prof.name}} {{prof.surname}} </mat-chip></span> 
</span>
</div>
</div>


<div class="flashcards-flexbox">
    <div *ngFor="let studyResource of studyResourcesList$ | async">
    <app-study-resource [studyResourceInfo]="studyResource" ></app-study-resource>
    </div>
</div>

</div>