<div class="componentDiv">
<div class="centerDiv">
  <div>
    <p style="display:inline-block; margin-right:10px">want to add a flashcard? </p>
    <div style="display:inline-block">
      <button style="display: inline-flex; align-items: center;" mat-flat-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
          add a flashcard
      </button>
    </div>
  </div>
</div>

<mat-tab-group>
  <mat-tab label="Words">
    <div class="flexbox" *ngIf="typeWordFlashcards$ | async as flashcards1">
      <div *ngFor="let flashcard of flashcards1">
        <app-flashcard [flashcardInfo]="flashcard"></app-flashcard>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Phrases">
    <div class="flexbox" *ngIf="typePhraseFlashcards$ | async as flashcards2">
      <div *ngFor="let flashcard of flashcards2">
        <app-flashcard [flashcardInfo]="flashcard"></app-flashcard>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Sentences">
    <div class="flexbox" *ngIf="typeSentenceFlashcards$ | async as flashcards3">
      <div *ngFor="let flashcard of flashcards3">
        <app-flashcard [flashcardInfo]="flashcard"></app-flashcard>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="General Memos">
    <div class="flexbox" *ngIf="typeGeneralFlashcards$ | async as flashcards4">
      <div *ngFor="let flashcard of flashcards4">
        <app-flashcard [flashcardInfo]="flashcard"></app-flashcard>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
  
</div>