.componentDiv
{
    min-height: 100vh;
}

.flexbox
{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;  
    flex-direction: row; 
}

.centerDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:20px;
}

.typeTitles
{
    margin:20px;
    display:flex;
    justify-content: center;
    //border-bottom:1px solid black;
}

.typeTitles > h3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

mat-tab-group
{
    margin:20px 0px;
}