
body {
  overflow: hidden;
}

small 
{
    color:red;
}

.login-container {
    max-width: 350px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .formButtonDiv
  {
    display:flex;
    justify-content: flex-end;      
    align-items: center;  
    flex:1;
  }

  .formButton{
    flex:1;
  }

  .formButton > button{
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
  }

  .login-page {
    height: 100%;
    z-index: -1;
    background-image: url('../../../assets/background-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  .everything-else
  {
    z-index: 1;
    
  }
  
