.mainDiv
{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.spacerr {
    display:flex;
    align-items: center;
    justify-content: center;
}

.buttons {
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 0px 5px;
}

mat-icon-button {
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.logout 
{
  margin-right:-10px;
}
