<div class="forma">
    <mat-dialog-content>
        <h2>Update study resource</h2>
        <form [formGroup]="form" (submit)="submit()">
            <div>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>title</mat-label>
                    <input matInput formControlName="title" type="text" required class="form-control">
                    @if (form.controls['title'].invalid && (form.controls['title'].touched || form.controls['title'].dirty))
                    {
                        @if(form.controls['title'].errors?.['required']){
                            <mat-error>*note: this field is required</mat-error>
                            
                        }
                        @if(form.controls['title'].errors?.['minlength']){
                            <mat-error>*note: it needs to be at least 3 characters long</mat-error>
                            
                        }
                    }
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>description</mat-label>
                    <input matInput formControlName="description" type="text" required class="form-control">
                    @if (form.controls['description'].invalid && (form.controls['description'].touched || form.controls['description'].dirty))
                    {
                        @if(form.controls['description'].errors?.['required']){
                            <mat-error>*note: this field is required</mat-error>
                            
                        }
                        @if(form.controls['description'].errors?.['minlength']){
                            <mat-error>*note: it needs to be at least 3 characters long</mat-error>
                            
                        }
                    }
                </mat-form-field>   
            </div>
        </form>
    </mat-dialog-content>
    </div>
    <mat-dialog-actions align="end">
        <div class="formButtonDiv">
            <div class="formButton">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid" (click)="submit()">Update</button>
            </div>
        </div>
    </mat-dialog-actions>
