<div class="componentDiv">
    <div class="centerPrompt">
        <div>
            <p class="pEl">have a resource you want to upload?</p>
            <button class="pEl" style="display: inline-flex; align-items: center;" mat-flat-button (click)="openDialog()">
                <mat-icon>upload_file</mat-icon> upload resource
            </button>
        </div>
    </div>
    <div class="titleRes">
        <div>
            <h2>here are all your resources</h2>
        </div>
    </div>
    

    <div class="flexbox">
        <div *ngFor="let studyResource of studyResourcesList$ | async">
                <app-study-resource [studyResourceInfo]="studyResource" [myResources]="true"> </app-study-resource>
        </div>
    </div>
</div>