/*.flexflex{
  width: 90%;
}

mat-dialog-content
{
  width:90%;
}*/

.dialogDiv
{
  width:100%;
}

.comment-section {
  width:100%;
  display:flex;
  max-width: 600px; 
  margin: 20px auto;
  justify-content: center;
}
  
  .comment-input {

    width: 95%;
    min-height: 40px;    
    max-height: 200px;   
    padding: 10px;       
    font-size: 14px;  
    font-family: 'Times New Roman', Times, serif;   
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    outline: none;
  }
  
  .comment-input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  mat-card {
    margin: 10px 0px;
    width: 100%;
  }
  
  mat-dialog-content
  {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

.buttons
{
  display:flex;
  justify-content: flex-start;
}

.bttns
{
  margin-left:10px;
  margin-bottom: 10px;
}

.text
{
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}